@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a Web Application created using ASP.NET, By Chetan .M. Patil.</p>
<p>Just Created for the Knowledge n expirence purpose, it was Greate.</p>
