@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Chetan.M.Patil</h3>

<address>
    Sri ram Nagar <br />
    Ranebennur<br />
    <abbr title="Phone">P:</abbr>
    7411337765||8123143110
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:Support@example.com">Chetanmp840@gmail.com</a><br />
   
</address>